.mat-card {
  margin: 16px 0 16px 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-toolbar.card-toolbar {
  padding: 0;
  height: 40px;
  margin-bottom: 16px;
  background: none;
}

mat-icon.toolbar-icon {
  background-color: brown;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 8px;
}
.toolbar-title{
  margin: 0 8px;
}
.mat-cell input{
  display: inline;
}
