/* Application-wide Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

mat-table {
  display: block;
}

mat-header-row {
  min-height: 56px;
}

mat-footer-row, mat-row {
  min-height: 48px;
}

mat-footer-row, mat-header-row, mat-row {
  display: flex;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  align-items: center;
  box-sizing: border-box;
}

mat-footer-row::after, mat-header-row::after, mat-row::after {
  display: inline-block;
  min-height: inherit;
  content: '';
}

mat-cell:first-child, mat-footer-cell:first-child, mat-header-cell:first-child {
  padding-left: 24px;
}

[dir=rtl] mat-cell:first-child, [dir=rtl] mat-footer-cell:first-child, [dir=rtl] mat-header-cell:first-child {
  padding-left: 0;
  padding-right: 24px;
}

mat-cell:last-child, mat-footer-cell:last-child, mat-header-cell:last-child {
  padding-right: 24px;
}

[dir=rtl] mat-cell:last-child, [dir=rtl] mat-footer-cell:last-child, [dir=rtl] mat-header-cell:last-child {
  padding-right: 0;
  padding-left: 24px;
}

mat-cell, mat-footer-cell, mat-header-cell {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  min-height: inherit;
}

table.mat-table {
  border-spacing: 0;
  width: 100%;
}

tr.mat-header-row {
  height: 56px;
}

tr.mat-footer-row, tr.mat-row {
  height: 48px;
}

th.mat-header-cell {
  text-align: left;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
  padding-left: 24px;
}

td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
  padding-right: 24px;
}
